# 特定文件
rebel.xml

# 特定目录
target/
classes/
/buildScript/reports/

# Eclipse artifacts, including WTP generated manifests
.classpath
.project

# IDEA artifacts and output dirs
*.iml
.idea

# Compiled class file
*.class

# Log file
*.log

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar
